.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;

  background-color: var(--bg-color);
}

.main {
  display: grid;
	grid-template-columns: 3fr 2fr;
  height: 100%;
  background-image: url(../src/assets/backgroundJnovel.png);
  background-repeat:no-repeat;
  background-size: cover;
  background-position: start;
}

.server {
  display: flex;
  flex-direction: column;
}

.headerServer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0.6rem;
  margin-left: 4rem;
}

.headerServer > h1 {
  color: var(--primary);
  font-size: 2.3rem;
}

.content {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content > span {
  color: var(--white);
  text-decoration: none;
  margin-top: 8rem;
  line-height: 1.15;
  font-size: 3.3rem;
  text-align: center;
  font-weight: bold;
}

.buttonServer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
  margin-top: 2rem;
  min-width: 10rem;
  height: 2.5rem;

  background: rgba(244, 117, 34, .40);
  border-color: var(--primary);
  border-width: 0.2rem;
  border-style: solid;
  color: var(--white);

  cursor: pointer;
  transition-duration: 0.3s;

  font-weight: bold;
  font-size: 1rem;
}

.buttonServer:hover {
  background: rgba(244, 117, 34, .7);
  box-shadow: 0 0 15px 8px rgba(244, 117, 34, .7)
}

.news {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.newsHeader {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-self: center;
  padding: 0.6rem;
}

.newsHeader > h2 {
  color: var(--primary);
  font-weight: bold;
  font-size: 2.3rem;
  text-align: center;
  z-index: 10;
}

.newsContent {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; 
  justify-content: flex-start;
  align-items: center;

  width: 420px;
  max-height:100vh;
}

.newsCard {
  display: grid;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, 0.3);
}

.newsCard:nth-child(2) {
  height: 70px;
  width: 150px;
  margin: 1% 1%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.0);
}

.newsCard:nth-child(4) {
  height: 80px;
  width: 150px;
  margin: 1% 1%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.0);
}

.newsCard:nth-child(5) {
  height: 120px;
  width: 150px;
  margin: 1% 1%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.0);
}

.newsCard:nth-child(7) {
  height: 60px;
  width: 150px;
  margin: 1% 1%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.0);
}

.newsCard > strong {
  color: var(--primary);
  text-align: center;
  margin-bottom: 1rem;
}