.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--bg-color);
}

.server {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 19rem;
  min-width: 100%;
  
  background-image: url(../src/assets/backgroundJnovel.png);
  background-repeat:no-repeat;
  background-size: cover;
  margin-bottom: 0.5rem;

}

.headerServer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.headerServer > h1 {
  color: var(--primary);
  font-size: 1.5rem;
  margin: .5rem;

}

.content {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

}

.content > span {
  color: var(--white);
  text-decoration: none;
  margin: 1rem;
  margin-bottom: 0;
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
}

.buttonServer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
  margin-top: 1.5rem;
  min-width: 4rem;
  height: 2rem;

  background: rgba(244, 117, 34, .40);
  border-color: var(--primary);
  border-width: 0.2rem;
  border-style: solid;
  color: var(--white);

  cursor: pointer;
  transition-duration: 0.3s;

  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 2rem;
}

.buttonServer:hover {
  background: rgba(244, 117, 34, .7);
  box-shadow: 0 0 15px 8px rgba(244, 117, 34, .7)
}

.news {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;

}

.newsHeader {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-self: center;
  padding: 0.6rem;
}

.newsHeader > h2 {
  color: var(--primary);
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
}

.newsContent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 420px;
  max-height:100%;
}

.newsCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, 0.3);
}


.newsCard > strong {
  color: #f47522;
  text-align: center;
  margin-bottom: 1rem;
}